*{
    box-sizing: border-box;
}

#recipeList{
    display: flex;
    flex-wrap: wrap;
}

#recipeList > div {
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    width: calc(100% / 2 - 2rem);
}